<template>
  <div class="user-wrapper">
    <a-dropdown v-if="auth('user')">
      <span class="action ant-dropdown-link user-dropdown-menu">
        <a-avatar class="avatar" size="small" :src="avatar()"/>
        <span>{{ nickname() }}</span>
      </span>
      <a-menu slot="overlay" class="user-dropdown-menu-wrapper">
        <a-menu-item key="3">
          <a href="javascript:;" @click="handleLogout">
            <a-icon type="logout"/>
            <span>Đăng xuất</span>
          </a>
        </a-menu-item>
      </a-menu>
    </a-dropdown>
    <template v-else>
      <a @click="$router.push('/login')">Đăng nhập</a>
      <a-divider type="vertical"/>
      <a @click="$router.push('/register')">Đăng ký</a>
    </template>

  </div>
</template>

<script>
  import HeaderNotice from './HeaderNotice'
  import {mapActions, mapGetters} from 'vuex'

  export default {
    name: 'UserMenu',
    components: {
      HeaderNotice
    },
    methods: {
      ...mapActions(['Logout']),
      ...mapGetters(['nickname', 'avatar']),
      handleLogout() {
        const that = this

        this.$confirm({
          title: 'Lời nhắc',
          content: 'Bạn có thực sự muốn đăng xuất? ?',
          onOk() {
            return that.Logout({}).then(() => {
              window.location.reload()
            }).catch(err => {
              that.$message.error({
                title: 'Lỗi',
                description: err.message
              })
            })
          },
          onCancel() {
          }
        })
      }
    }
  }
</script>
