<template>
  <a-card :bordered="false">
    <div class="account-center-avatarHolder">
      <div class="avatar">
        <img src="~@/assets/hero.jpeg">
      </div>
      <div class="username">{{ nickname() }}</div>
      <div class="bio">Xin chào Hiếu Nguyễn</div>
    </div>
    <div class="account-center-detail">
      <p>
        <i class="title"></i>AI Developer
      </p>
      <p>
        <i class="group"></i> 
      </p>
      <p>
        <i class="address"></i>
        <span>Ngoại giao đoàn</span>
        <span>Xuân Đỉnh, Hà Nội</span>
      </p>
    </div>
  </a-card>


</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: "Profile",
    methods: {
      ...mapGetters(['nickname', 'avatar'])
    }
  }
</script>

<style scoped lang="less">
  .account-center-avatarHolder {
    text-align: center;
    margin-bottom: 24px;

    & > .avatar {
      margin: 0 auto;
      width: 104px;
      height: 104px;
      margin-bottom: 20px;
      border-radius: 50%;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
      }
    }

    .username {
      color: rgba(0, 0, 0, 0.85);
      font-size: 20px;
      line-height: 28px;
      font-weight: 500;
      margin-bottom: 4px;
    }
  }

  .account-center-detail {
    p {
      margin-bottom: 8px;
      padding-left: 26px;
      position: relative;
    }

    i {
      position: absolute;
      height: 14px;
      width: 14px;
      left: 0;
      top: 4px;
      background: url(https://gw.alipayobjects.com/zos/rmsportal/pBjWzVAHnOOtAUvZmZfy.svg);
    }

    .title {
      background-position: 0 0;
    }
    .group {
      background-position: 0 -22px;
    }
    .address {
      background-position: 0 -44px;
    }
  }
</style>
