<template>
  <div class="view">
    <div class="container">
      <h1>{{article.title}}</h1>

      <div style="margin-top: 24px">
        <a-avatar class="avatar" size="large" src="/avatar2.jpg"/>
        <div class="info">
          <div class="nickname">{{article.author.nickname}}</div>
          <div class="meta">{{article.createDate}} Read {{article.viewCounts}} comment {{article.commentCounts}}</div>
        </div>
      </div>

      <div class="markdown-body" v-html='article.body.contentHtml'></div>
      <a-divider>End</a-divider>

      <div>
        <span class="head">Category</span>
        <a-button @click="$router.push(`/categories/${article.category.id}`)" size="small" type="primary">
          {{article.category.categoryname}}
        </a-button>
      </div>
      <div class="tags">
        <span class="head">Tags</span>
        <a-tag @click="$router.push(`/tags/${t.id}`)" v-for="t in article.tags" :key="t.id">{{t.tagname}}</a-tag>
      </div>
    </div>

    <a-modal :width="800" :visible="previewVisible" :footer="null" @cancel="previewVisible = false">
      <img style="width: 100%" :src="previewImage"/>
    </a-modal>
  </div>
</template>

<script>
  export default {
    name: "id",
    head() {
      let tags = ''
      this.article.tags.forEach(t => {
        tags += ',' + t.tagname
      })
      return {
        title: `${this.article.title} - Article`,
        meta: [
          {hid: 'keywords', name: 'keywords', content: tags.substr(1)},
          {hid: 'description', name: 'description', content: this.article.summary}
        ],
        link: [
          {
            rel: 'stylesheet',
            href: 'https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css'
          },
          {rel: 'stylesheet', href: '//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/github.min.css'}
        ]
      }
    },
    async asyncData({$axios, params}) {
      let {data} = await $axios.$get(`/articles/view/${params.id}`)
      return {article: data}
    },
    mounted() {
      document.querySelectorAll('.markdown-body img').forEach(item => {
        item.addEventListener('click', () => {
          this.previewImage = item.src
          this.previewVisible = true
        }, false);
      })
    },
    data() {
      return {
        previewVisible: false,
        previewImage: ''
      }
    }
  }
</script>

<style scoped lang="less">
  .view {
    background-color: #fff;
    height: 100%;
    min-height: 76vh;
  }

  .container {
    max-width: 730px;
    margin: 0 auto;
    padding: 24px 8px;
  }

  .info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    .nickname {
      font-weight: 700;
    }
    .meta {
      font-size: 12px;
      color: #969696;
    }
  }

  .head {
    font-size: 16px;
    font-weight: 700;
    margin-right: 10px;
  }

  .tags {
    margin-top: 10px;
  }

  .markdown-body {
    margin-top: 24px;
  }

</style>
