<template>
  <a-layout :class="[layoutMode, `content-width-${contentWidth}`]">
    <a-layout-header :class="[true && 'ant-header-fixedHeader']" :style="{ padding: '0' }">

      <div :class="['top-nav-header-index', navTheme]">
        <div class="header-index-wide">
          <div class="header-index-left">
            <logo class="top-nav-header" :show-title="false"/>
          </div>

          <div class="action">
            <a-button size="small" type="primary" @click.native="publishShow">Release</a-button>
          </div>

          <user-menu class="header-index-right"></user-menu>
        </div>
      </div>


    </a-layout-header>
    <a-layout-content :style="{height: '100%',backgroundColor: '#fff', paddingTop: fixedHeader ? '64px' : '0' }">

      <div class="container">
        <div class="write">
          <autoTextarea class="write-textarea" lineHeight="36px" fontSize="32px" placeholder="Please enter title"
                        v-model="articleForm.title"/>
          <div id="placeholder" style="visibility: hidden;height: 89px;display: none;"></div>
          <mavon-editor
            @imgAdd="imgAdd"
            @imgDel="imgDel"
            ref="mavonEditor"
            class="editor"
            v-bind="editor"
            v-model="editorValue"/>

        </div>
      </div>
    </a-layout-content>


    <a-modal
      v-model="modalShow"
      title="Post Article">
      <template slot="footer">
        <a-button key="back" @click="modalShow = false">Cancel</a-button>
        <a-button key="submit" type="primary" @click="publish">
          Confirm and publish
        </a-button>
      </template>
      <a-form :form="form">
        <a-form-item
          label="Category">
          <a-radio-group
            v-decorator="['category',{initialValue: articleForm.category,rules: [{
              required: true, message: 'Please select a type!',
            }]}]">
            <a-radio-button v-for="c in categories" :key="c.id" :value="c.id">
              {{c.categoryname}}
            </a-radio-button>
          </a-radio-group>
        </a-form-item>

        <a-form-item
          label="Tags">
          <a-checkbox-group
            style="width: 100%;"
            v-decorator="['tags', {initialValue: articleForm.tags, rules: [{
              required: true, message: 'Please select a tags!',
            }]}]">
            <a-checkbox v-for="t in tags" :key="t.id" :value="t.id">
              {{t.tagname}}
            </a-checkbox>
          </a-checkbox-group>
        </a-form-item>

      </a-form>
    </a-modal>
  </a-layout>
</template>

<script>
  import Logo from '@/components/Logo'
  import UserMenu from '@/components/tool/UserMenu'
  import {mixin, mixinDevice} from '@/utils/mixin'
  import AutoTextarea from '@/components/textarea/AutoTextarea'

  export default {
    layout: 'blank',
    name: "id",
    head: {
      title: 'Write a article'
    },
    mixins: [mixin, mixinDevice],
    components: {
      Logo,
      UserMenu,
      AutoTextarea
    },
    mounted() {
      window.addEventListener('scroll', this.editorToolBarToFixed, false);
      this.form = this.$form.createForm(this);
      if (this.$route.params.id) {
        this.getArticleById(this.$route.params.id)
      }
      this.getCategorysAndTags()

    },
    beforeDestroy() {
      window.removeEventListener('scroll', this.editorToolBarToFixed, false)
    },
    data() {
      return {
        modalShow: false,
        categories: [],
        tags: [],
        form: '',
        articleForm: {
          id: '',
          title: '',
          picture: '',
          summary: '',
          category: '',
          tags: []
        },
        editorValue: '',
        editor: {
          default_open: 'edit',
          placeholder: 'Text...',
          fontSize: '16px',
          toolbars: {
            bold: true,
            italic: true, 
            header: true, 
            quote: true, 
            ol: true, 
            ul: true, 
            imagelink: true,
            code: true, 
            fullscreen: true, 
            readmodel: true, 
            help: true,
            undo: true, 
            redo: true,
            trash: true, 
            navigation: true,
            preview: true, 
          }
        }
      }
    },
    methods: {
      getArticleById(id) {
        let that = this
        this.$axios.$get(`/articles/${id}`).then(res => {
          Object.assign(that.articleForm, res.data)
          that.editorValue = res.data.body.content
          let tags = this.articleForm.tags.map(function (item) {
            return item.id;
          })
          this.articleForm.tags = tags
          this.articleForm.category = this.articleForm.category.id
        })
      },
      getCategorysAndTags() {
        let that = this
        this.$axios.$get('/categorys').then(data => {
          that.categories = data.data
        })

        this.$axios.$get('/tags').then(data => {
          that.tags = data.data
        })
      },
      publishShow() {
        if (!this.articleForm.title) {
          this.$message.warning('Please enter title');
          return
        }
        if (!this.editorValue) {
          this.$message.warning('Please enter text');
          return
        }
        this.modalShow = true
      },
      publish() {
        this.form.validateFields((err, formData) => {
          if (err) {
            return;
          }
          const articleForm = this.articleForm
          let tags = formData.tags.map(t => {
            return {id: t}
          })
          let html = this.$refs['mavonEditor'].d_render;
          const text = html.replace(/<[^<>]+>/g, "")
          const summary = text && text.length > 70 ? text.substr(0, 70) + '...' : text
          const article = {
            id: articleForm.id,
            title: articleForm.title,
            summary: summary,
            picture: articleForm.picture,
            body: {
              content: this.editorValue,
              contentHtml: html
            },
            tags,
            category: {id: formData.category}
          }

          this.$axios.$post('/articles/publish', article).then(res => {
            this.modalShow = false
            if (res.error_code === 0) {
              // this.articleForm.id = res.data.articleId
              this.$success({
                  title: 'The article was published successfully',
                  content: (
                  <div>
                  <p>...</p>
                <a
              href = "/write" >write</a>
                <a
              href = "/"
              style = "margin-left: 24px" > Return homepage </a>
                </div>
            ),
              onOk: () => {
                this.$router.push(`/write/${res.data.articleId}`)
              }
            })
            } else {
              this.$error({
                title: 'Article failed to publish',
                content: res.err_message
              })
            }
          })
        });
      },
      imgAdd(pos, $file) {
        let that = this
        let formdata = new FormData();
        formdata.append('image', $file);
        this.$axios.$post('/upload', formdata).then(res => {
          if (res.error_code == 0) {
            if (!that.articleForm.picture) {
              that.articleForm.picture = res.data.url
            }
            that.$refs.mavonEditor.$img2Url(pos, res.data.url);
          } else {
            that.$error({
              title: 'Failed to upload picture',
              content: res.error_message
            })
          }
        })
      },
      imgDel() {

      },
      editorToolBarToFixed() {
        let toolbar = document.querySelector('.v-note-op');
        let curHeight = document.documentElement.scrollTop || document.body.scrollTop;
        if (curHeight >= 100) {
          document.getElementById("placeholder").style.display = "block";
          toolbar.classList.add("write-toolbar-fixed");
        } else {
          document.getElementById("placeholder").style.display = "none";
          toolbar.classList.remove("write-toolbar-fixed");
        }
      }
    }
  }
</script>

<style scoped lang="less">
  .action {
    margin-right: 20px;
  }

  .container {
    max-width: 700px;
    margin: 84px auto 0;
  }

  .write {
    .editor {
      margin-top: -30px;
      margin-left: -8px;
    }
  }

  .ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0px;
  }

</style>
