<template>
  <div class="logo">
    <router-link :to="{name:'index'}">
      <!--<img src="~@/assets/logo.png" alt="logo">-->
       <!--<h1 v-if="showTitle">{{ title }}</h1>-->
      <h1 style="color: #1890ff">Hiếu Nguyễn</h1>
    </router-link>
  </div>
</template>

<script>
  export default {
    name: 'Logo',
    props: {
      title: {
        type: String,
        default: 'For Fun',
        required: false
      },
      showTitle: {
        type: Boolean,
        default: true,
        required: false
      }
    }
  }
</script>
