<template>
  <a-locale-provider :locale="locale">
    <a-layout class="layout">
      <nuxt/>
      <a-back-top>
        <div class="to-top"><a-icon type="arrow-up" /></div>
      </a-back-top>
    </a-layout>
  </a-locale-provider>
</template>

<script>
  import zhCN from 'ant-design-vue/lib/locale-provider/zh_CN'

  export default {
    name: "blank",
    data() {
      return {
        locale: zhCN
      }
    }
  }
</script>

<style scoped>

</style>
