<template>
  <a-locale-provider :locale="locale">

    <a-layout class="layout" :class="[device]">

      <template v-if="isSideMenu()">
        <a-drawer
          v-if="isMobile()"
          :wrapClassName="'drawer-sider ' + navTheme"
          :closable="false"
          :visible="collapsed"
          placement="left"
          @close="() => this.collapsed = false"
        >
          <side-menu
            :menus="menus"
            :theme="navTheme"
            :collapsed="false"
            :collapsible="true"
            mode="inline"
            @menuSelect="menuSelect"></side-menu>
        </a-drawer>

        <side-menu
          v-else
          mode="inline"
          :menus="menus"
          :theme="navTheme"
          :collapsed="collapsed"
          :collapsible="true"></side-menu>
      </template>
      <template v-else>
        <a-drawer
          v-if="isMobile()"
          :wrapClassName="'drawer-sider ' + navTheme"
          placement="left"
          @close="() => this.collapsed = false"
          :closable="false"
          :visible="collapsed"
        >
          <side-menu
            :menus="menus"
            :theme="navTheme"
            :collapsed="false"
            :collapsible="true"
            mode="inline"
            @menuSelect="menuSelect"></side-menu>
        </a-drawer>
      </template>

      <a-layout :class="[layoutMode, `content-width-${contentWidth}`]"
                :style="{ paddingLeft: contentPaddingLeft, minHeight: '100vh' }">
        <!-- layout header -->
        <global-header
          :mode="layoutMode"
          :menus="menus"
          :theme="navTheme"
          :collapsed="collapsed"
          :device="device"
          @toggle="toggle"
        />

        <!-- layout content -->
        <a-layout-content :style="{height: '100%', paddingTop: fixedHeader ? '64px' : '0' }">
          <nuxt/>
        </a-layout-content>

        <!-- layout footer -->
        <a-layout-footer style="padding: 0">
          <global-footer/>
        </a-layout-footer>
      </a-layout>

      <a-back-top>
        <div class="to-top"><a-icon type="arrow-up" /></div>
      </a-back-top>
    </a-layout>

  </a-locale-provider>
</template>

<script>
  import zhCN from 'ant-design-vue/lib/locale-provider/zh_CN'
  import SideMenu from '@/components/menu/SideMenu'
  import GlobalHeader from '@/components/GlobalHeader'
  import GlobalFooter from '@/components/GlobalFooter'
  import {triggerWindowResizeEvent} from '@/utils/util'
  import {mapState, mapActions} from 'vuex'
  import {mixin, mixinDevice} from '@/utils/mixin'
  import {menus} from '@/config/menu'

  export default {
    components: {
      SideMenu,
      GlobalHeader,
      GlobalFooter,
    },
    mixins: [mixin, mixinDevice],
    data() {
      return {
        locale: zhCN,
        collapsed: false,
        menus: menus
      }
    },
    computed: {
      contentPaddingLeft() {
        if (!this.fixSidebar || this.isMobile()) {
          return '0'
        }
        if (this.sidebarOpened) {
          return '256px'
        }
        return '80px'
      }
    },
    watch: {
      sidebarOpened(val) {
        console.log('sidebarOpened', val)
        this.collapsed = !val
      }
    },
    created() {
      this.collapsed = !this.sidebarOpened
    },
    methods: {
      ...mapActions(['setSidebar']),
      toggle() {
        this.collapsed = !this.collapsed
        this.setSidebar(!this.collapsed)
        triggerWindowResizeEvent()
      },
      paddingCalc() {
        let left = ''
        if (this.sidebarOpened) {
          left = this.isDesktop() ? '256px' : '80px'
        } else {
          left = this.isMobile() && '0' || (this.fixSidebar && '80px' || '0')
        }
        console.log('left', left)
        return left
      },
      menuSelect() {
        if (!this.isDesktop()) {
          this.collapsed = false
        }
      }
    }
  }
</script>

<style lang="less">

</style>
