<template>
  <div class="exception">
    <div class="img">
      <img :src="errorType.img"/>
    </div>
    <div class="content">
      <h1>{{ errorType.title }}</h1>
      <div class="desc">{{ errorType.desc }}</div>
      <div class="action">
        <a-button type="primary" @click="handleToHome">Return home</a-button>
      </div>
    </div>
  </div>
</template>

<script>
  const types = {
    403: {
      img: 'https://gw.alipayobjects.com/zos/rmsportal/wZcnGqRDyhPOEYFcZDnb.svg',
      title: '403',
      desc: 'Xin lỗi, bạn không có quyền truy cập trang này'
    },
    404: {
      img: 'https://gw.alipayobjects.com/zos/rmsportal/KpnpchXsobRgLElEozzI.svg',
      title: '404',
      desc: 'Xin lỗi, trang bạn đã truy cập không tồn tại hoặc vẫn đang được phát triển'
    },
    500: {
      img: 'https://gw.alipayobjects.com/zos/rmsportal/RVRUAYdCGeYNBWoKiIwB.svg',
      title: '500',
      desc: 'Xin lỗi, lỗi máy chủ'
    }
  }
  export default {
    name: 'error',
    props: ['error'],
    data() {
      return {
        config: types
      }
    },
    computed: {
      errorType() {
        return types[this.error.statusCode] || types[500]
      }
    },
    methods: {
      handleToHome() {
        this.$router.push({name: 'index'})
      }
    }
  }
</script>

<style lang="less" scoped>
  .exception {
    min-height: 500px;
    height: 80%;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    .img {
      display: inline-block;
      padding-right: 52px;
      zoom: 1;
      img {
        height: 360px;
        max-width: 430px;
      }
    }
    .content {
      display: inline-block;
      flex: auto;
      h1 {
        color: #434e59;
        font-size: 72px;
        font-weight: 600;
        line-height: 72px;
        margin-bottom: 24px;
      }
      .desc {
        color: rgba(0, 0, 0, .45);
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
      }
    }
  }

  .mobile {
    .exception {
      margin-top: 30px;
      .img {
        padding-right: unset;

        img {
          height: 40%;
          max-width: 80%;
        }
      }
    }
  }
</style>
