<template>
  <div class=" background page-header-index-wide page-header-wrapper-grid-content-main">
    <div class="">
      <a-divider :dashed="true">Shopping</a-divider>
      <div class="meta">
        <a-avatar style="backgroundColor:#87d068"></a-avatar>
        <a target="_blank" href="https://vuejs.org/"></a>
      </div>
      <div class="meta">
        <a-avatar style="backgroundColor:#87d068"></a-avatar>
        <a target="_blank" href="https://nuxtjs.org/"></a>

      </div>
      <div class="meta">
        <a-avatar style="backgroundColor:#87d068"></a-avatar>
        <a target="_blank" href="https://vue.ant.design/docs/vue/introduce/"></a>
      </div>
      <div class="meta">
        <a-avatar style="backgroundColor:#87d068">Admin</a-avatar>
        <a target="_blank" href="https://preview.pro.loacg.com"></a>
      </div>


      <a-divider :dashed="true">Me</a-divider>
      <div class="meta">
        <a-avatar style="backgroundColor:#87d068" icon="github"/>
        <a target="_blank" href="https://gitlab.com/Nguyenhieu1999">https://gitlab.com/Nguyenhieu1999</a>
      </div>
      <div class="meta">
        <a-avatar style="backgroundColor:#87d068" icon="qq"/>
        919431514
      </div>
    </div>


  </div>


</template>

<script>
  export default {
    name: "about",
    head: {
      title: 'About'
    }
  }
</script>

<style scoped lang="less">
  .meta {
    display: inline-block;
    margin: 10px;
  }

  .background {
    background-image: url("~@/assets/about.jpg");
    background-size: 100% 100%;
    height: 100vh;
  }
</style>
