<template>
  <div class="container">
    <a-timeline mode="alternate" class="archives">
      <a-timeline-item color="green" v-for="item in archives" :key="item.year + item.month">
        <!-- <a-icon slot="dot" type="clock-circle-o" style="font-size: 16px;" /> -->
        <a @click="$router.push(`/archives/${item.year}-${item.month}`)">{{item.year + 'years' + item.month + 'month'}}</a>
        <div class="articles">{{item.count}} Article</div>
      </a-timeline-item>

    </a-timeline>
  </div>
</template>

<script>
  export default {
    name: "archives",
    head: {
      title: 'Article'
    },
    async asyncData({$axios, params}) {
      let {data} = await $axios.$get(`/articles/listArchives`)
      return {archives: data}
    },
  }
</script>

<style scoped>
  .archives {
    margin: 24px auto;
  }

  .articles {
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
  }
</style>
