<template>
  <div class="container">
    <a-card
      class="project-list"
      :bordered="false"
      title="All Article category"
      :body-style="{ padding: 0 }">
      <div>
        <a-card-grid class="project-card-grid" :key="i" v-for="(item, i) in categories">
          <a-card :bordered="false" :body-style="{ padding: 0 }">
            <a-card-meta>
              <div slot="title" class="card-title">
                <a-avatar :style="{backgroundColor: colorList[i]}" size="large">{{ item.categoryname }}</a-avatar>
                <a @click="$router.push(`/categories/${item.id}`)">{{ item.categoryname }}</a>
              </div>
              <div slot="description" class="card-description">
                Hello Hieu Nguyen
              </div>
            </a-card-meta>
            <div class="project-item">
              <span class="articles">{{item.articles}} Article</span>
            </div>
          </a-card>
        </a-card-grid>
      </div>
    </a-card>
  </div>

</template>

<script>
  export default {
    name: "categories",
    head: {
      title: 'Category'
    },
    async asyncData({$axios}) {
      let {data: categories} = await $axios.$get('/categorys/detail')
      return {categories}
    },
    data() {
      return {
        colorList: ['#1890FF', '#41D9C7', '#2FC25B', '#9AE65C', '#FACC14', '#E6965C', '#223273', '#7654CC', '#8543E0', '#5C8EE6', '#13C2C2', '#5CA3E6', '#3436C7', '#A081E6']
      }
    }
  }
</script>

<style scoped lang="less">
  .ant-card-wider-padding /deep/ .ant-card-head {
    padding: 0 24px !important;
  }

  .container {
    margin: 24px 80px 0;
  }

  .project-list {
    .card-title {
      font-size: 0;
      a {
        color: rgba(0, 0, 0, 0.85);
        margin-left: 12px;
        line-height: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        &:hover {
          color: #1890ff;
        }
      }
    }
    .card-description {
      color: rgba(0, 0, 0, 0.45);
      height: 44px;
      line-height: 22px;
      overflow: hidden;
    }
    .project-item {
      display: flex;
      margin-top: 8px;
      overflow: hidden;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      a {
        color: rgba(0, 0, 0, 0.45);
        display: inline-block;
        flex: 1 1 0;
        &:hover {
          color: #1890ff;
        }
      }
      .articles {
        color: rgba(0, 0, 0, 0.25);
        flex: 0 0 auto;
      }
    }
    .ant-card-meta-description {
      color: rgba(0, 0, 0, 0.45);
      height: 44px;
      line-height: 22px;
      overflow: hidden;
    }
  }

  .mobile {
    .container {
      margin: 0;
    }
    .project-list {
      .project-card-grid {
        width: 100%;
      }
    }
  }
</style>
