<template>
  <div>
    <div class="banner">
      <a-input-search
        style="width: 400px;display: block;margin: 0 auto;top:50%"
        placeholder="Search"
        @search="() => {this.$notification.warn({message: 'Searching...'})}"
        enterButton
      />
    </div>
    <div class="container">
      <div class="page-header-index-wide">
        <a-row :gutter="24">
          <a-col :xl="16" :lg="24" :md="24" :sm="24" :xs="24" class="article-container">
            <a-list
              itemLayout="vertical"
              size="large"
              :dataSource="articles">

              <div slot="loadMore" :style="{ marginTop: '12px', marginBottom: '12px' }">
                <a-skeleton v-show="loading" active :title="{width: '70%'}"
                            :paragraph="{width: ['100%', '100%', '35%']}"/>
                <div v-show="!loading"
                     :style="{ textAlign: 'center', marginTop: '12px', height: '32px', lineHeight: '32px' }">
                  <a-button type="primary" v-if="more" @click="loadMore">Load more</a-button>
                  <div v-else>End</div>
                </div>
              </div>

              <a-alert class="feeling" :banner="true" slot="header" :message="feeling" type="success">
                <a-icon size="large" slot="icon" type="smile"/>
              </a-alert>

              <a-list-item slot="renderItem" slot-scope="item" key="item.title">

                <span slot="actions">
                  <a-icon type="user" style="margin-right: 8px"/>
                  {{item.author.nickname}}
                </span>
                <span slot="actions">
                  <a-icon type="eye" style="margin-right: 8px"/>
                  {{item.viewCounts}}
                </span>
                <span slot="actions">
                  <a-icon type="message" style="margin-right: 8px"/>
                  {{item.commentCounts}}
                </span>
                <span slot="actions">{{item.createDate}}</span>

                <img v-if="!isMobile() && item.picture"
                     slot="extra"
                     width="260"
                     height="120"
                     style="cursor:pointer"
                     @click="view(item.id)"
                     :src="item.picture"/>
                <a-list-item-meta
                  :description="item.summary">
                  <a slot="title" style="display:inline-block;width:100%" @click="view(item.id)">{{item.title}}</a>
                </a-list-item-meta>
              </a-list-item>
            </a-list>
          </a-col>
          <a-col
            style="padding: 0 12px"
            :xl="8"
            :lg="24"
            :md="24"
            :sm="24"
            :xs="24">

            <profile style="margin-bottom: 24px"></profile>

            <a-card title="Tags" style="margin-bottom: 24px" :bordered="false" :body-style="{padding: 0}">
              <a @click="$router.push('/tags')" slot="extra">More</a>
              <div class="item-group">
                <a-tag @click="$router.push(`/tags/${t.id}`)" v-for="t in tags" :key="t.id">{{t.tagname}}</a-tag>
              </div>
            </a-card>

            <a-card title="Article" style="margin-bottom: 24px" :bordered="false" :body-style="{padding: 0}">
              <div class="hot-articles">
                <a v-for="a in hotArticles" @click="view(a.id)" :key="a.id">{{a.title}}</a>
              </div>

            </a-card>

            <a-card title="Article archive" style="margin-bottom: 24px" :bordered="false" :body-style="{padding: 0}">
              <div class="hot-articles">
                <a @click="$router.push(`/archives/${a.year}-${a.month}`)" v-for="a in archives" :key="a.id">{{a.year +
                  'years' + a.month + 'month' }}
                  <span style="float: right">{{a.count + 'Article'}}</span>
                </a>
              </div>
            </a-card>
          </a-col>

        </a-row>

      </div>

    </div>
  </div>
</template>

<script>
  import Profile from '@/components/user/Profile'
  import {mixinDevice} from '@/utils/mixin'

  const getArticles = async ($axios, params) => {
    let {data} = await $axios.$get('/articles', {
      params: params
    })
    return data
  }
  const FEELINGS = [

  ]
  export default {
    components: {
      Profile
    },
    mixins: [mixinDevice],
    data() {
      return {
        feeling: '',
        loading: false,
        more: true
      }
    },
    mounted() {
      this.feeling = FEELINGS[new Date().getDay()]
    },
    async asyncData({$axios}) {
      const page = {
        pageNumber: 1,
        pageSize: 5,
        name: 'a.createDate',
        sort: 'asc'
      }

      let [articles, {data: tags}, {data: hotArticles}, {data: archives}] = await Promise.all([
        getArticles($axios, page),
        $axios.$get('/tags/hot'),
        $axios.$get('/articles/hot'),
        $axios.$get('/articles/listArchives')
      ]);

      return {
        articles,
        tags,
        hotArticles,
        archives,
        page
      }
    },
    methods: {
      loadMore() {
        this.page.pageNumber++
        this.loading = true

        setTimeout(() => {
          let data = getArticles(this.$axios, this.page).then(data => {
            this.more = data.length > 1
            this.articles = this.articles.concat(data)
          }).finally(() => {
            this.loading = false
          })
        }, 4000)

      },
      view(id) {
        this.$router.push(`/view/${id}`)
      }
    }
  }

</script>

<style lang="less" scoped>
  .container {
    /*background-color: #fff;*/
    min-height: 100vh;
    margin: 24px 24px 0;
  }

  .banner {
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    height: 320px;
    margin: 0;
    background-image: url("~@/assets/banner2.jpg");
    background-size: 100% 100%;

  }

  .article-container {
    background-color: #fff;
    margin-bottom: 24px;
  }

  .item-group {
    padding: 20px 0 8px 24px;
    font-size: 0;
    .ant-tag {
      margin-bottom: 13px;
    }
    a {
      color: rgba(0, 0, 0, 0.65);
      display: inline-block;
      font-size: 14px;
      margin-bottom: 13px;
      width: 25%;
    }
  }

  .hot-articles {
    padding: 20px 24px 8px 24px;
    a {
      display: block;
      margin-bottom: 10px;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .feeling /deep/ .ant-alert-icon {
    margin-top: -3px
  }

  .article-container /deep/ .ant-list-item-action li {
    cursor: default;
  }
</style>
