<template>
  <div class="main">
    <a-form
      id="formLogin"
      class="user-layout-login"
      ref="formLogin"
      :form="form"
      @submit="handleSubmit"
    >
      <a-form-item>
        <a-input
          size="large"
          type="text"
          placeholder="Name"
          v-decorator="[
                'account',
                {rules: [{ required: true, message: 'Please enter name' }]}
              ]"
        >
          <a-icon slot="prefix" type="user" :style="{ color: 'rgba(0,0,0,.25)' }"/>
        </a-input>
      </a-form-item>

      <a-form-item>
        <a-input
          size="large"
          type="password"
          autocomplete="false"
          placeholder="Password"
          v-decorator="[
                'password',
                {rules: [{ required: true, message: 'Please enter password' }], validateTrigger: 'blur'}
              ]"
        >
          <a-icon slot="prefix" type="lock" :style="{ color: 'rgba(0,0,0,.25)' }"/>
        </a-input>
      </a-form-item>

      <a-form-item style="margin-top:24px">
        <a-button
          size="large"
          type="primary"
          htmlType="submit"
          class="login-button"
          :loading="state.loginBtn"
          :disabled="state.loginBtn"
        >Determine
        </a-button>
      </a-form-item>
    </a-form>

  </div>


</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    name: 'login',
    head: {
      title: 'Login'
    },
    layout: 'user',
    components: {},
    data() {
      return {
        loginBtn: false,
        form: this.$form.createForm(this),
        state: {
          time: 60,
          loginBtn: false
        }
      }
    },
    methods: {
      ...mapActions(['Login']),
      handleSubmit(e) {
        e.preventDefault()
        const {
          state,
          Login,
          form: {validateFields}
        } = this

        state.loginBtn = true

        validateFields(['account', 'password'], {force: true}, (err, values) => {
          if (!err) {
            let param = new URLSearchParams()
            param.append('account', values['account'])
            param.append('password', values['password'])
            Login(param)
              .then((res) => {
                if (res.error_code === 0) {
                  this.loginSuccess(res)
                } else {
                  this.requestFailed(res)
                }
              }).catch(err => this.requestFailed(err))
              .finally(() => {
                state.loginBtn = false
              })
          } else {
            setTimeout(() => {
              state.loginBtn = false
            }, 600)
          }
        })
      },
      loginSuccess(res) {
        this.$router.push('/')
      },
      requestFailed(res) {
        this.$notification['error']({
          message: 'Error',
          description: res.error_message,
          duration: 4
        })
      }
    }
  }
</script>

<style lang="less" scoped>
  .user-layout-login {
    label {
      font-size: 14px;
    }

    .getCaptcha {
      display: block;
      width: 100%;
      height: 40px;
    }

    .forge-password {
      font-size: 14px;
    }

    button.login-button {
      padding: 0 15px;
      font-size: 16px;
      height: 40px;
      width: 100%;
    }

    .user-login-other {
      text-align: left;
      margin-top: 24px;
      line-height: 22px;

      .item-icon {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.2);
        margin-left: 16px;
        vertical-align: middle;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #1890ff;
        }
      }

      .register {
        float: right;
      }
    }
  }
</style>
