<template>
  <div class="container">
    <a-row>
      <a-col :xl="6" :lg="8" :md="12" :sm="12" :xs="24" style="text-align:center" v-for="(item, index) in tags"
             :key="index">
        <a-card @click="$router.push(`/tags/${item.id}`)" style="margin:4px 4px" :bordered="false" :hoverable="true">
          <a-avatar :style="{backgroundColor: colorList[index]}" size="large">{{ item.tagname }}</a-avatar>
          <div>
            <div>{{ item.tagname }}</div>
            <div class="articles">{{item.articles}} Article</div>
          </div>
        </a-card>
      </a-col>
    </a-row>

  </div>

</template>

<script>
  export default {
    name: "tags",
    head: {
      title: 'Tags'
    },
    async asyncData({$axios}) {
      let {data: tags} = await $axios.$get('/tags/detail')
      return {tags}
    },
    data() {
      return {
        colorList: ['#1890FF', '#41D9C7', '#2FC25B', '#9AE65C', '#FACC14', '#E6965C', '#223273', '#7654CC', '#8543E0', '#5C8EE6', '#13C2C2', '#5CA3E6', '#3436C7', '#A081E6']
      }
    }
  }
</script>

<style scoped lang="less">

  .container {
    margin: 24px 80px 0;
  }

  .articles {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.25);
    flex: 0 0 auto;
  }

  .mobile {
    .container {
      margin: 0;
    }
  }
</style>
