<template>
  <div>
    <a-affix :offsetTop="0">
      <div class="head">
        Now:
        <a-breadcrumb class="breadcrumb">
          <a-breadcrumb-item>
            <template v-if="$route.params.type == 'categories'">
              <a-icon type="pushpin"/>
              Category
            </template>
            <template v-else-if="$route.params.type == 'tags'">
              <a-icon type="tags"/>
              Tags
            </template>
            <template v-else-if="$route.params.type == 'archives'">
              <a-icon type="database"/>
              Database
            </template>
            <template v-else-if="$route.params.type == 'search'">
              <a-icon type="search"/>
              Search
            </template>
          </a-breadcrumb-item>
          <a-breadcrumb-item>
            <template v-if="$route.params.type == 'categories'">
              <a-avatar :style="{backgroundColor: colorList[Math.round(Math.random() * 13)]}" size="large">{{
                category.categoryname }}
              </a-avatar>
              <span>{{category.categoryname}}</span>
            </template>
            <template v-else-if="$route.params.type == 'tags'">
              <a-avatar :style="{backgroundColor: colorList[Math.round(Math.random() * 13)]}" size="large">{{
                tag.tagname }}
              </a-avatar>
              <span>{{tag.tagname}}</span>
            </template>
            <template v-else-if="$route.params.type == 'archives'">
              <span>{{$route.params.value.substr(0, 4) + 'years' + $route.params.value.substr(5) + 'month'}}</span>
            </template>
            <template v-else-if="$route.params.type == 'search'">
              <span>{{$route.params.value}}</span>
            </template>
          </a-breadcrumb-item>
        </a-breadcrumb>
      </div>
    </a-affix>
    <div class="container">
      <a-list
        class="article-container"
        itemLayout="vertical"
        size="large"
        :dataSource="articles">

        <div slot="loadMore" :style="{ marginTop: '12px', marginBottom: '12px' }">
          <a-skeleton v-show="loading" active :title="{width: '70%'}"
                      :paragraph="{width: ['100%', '100%', '35%']}"/>
          <div v-show="!loading"
               :style="{ textAlign: 'center', marginTop: '12px', height: '32px', lineHeight: '32px' }">
            <a-button type="primary" v-if="more" @click="loadMore">Load more</a-button>
            <div v-else>End</div>
          </div>
        </div>

        <!-- <a-alert class="feeling" :banner="true" slot="header" :message="feeling" type="success">
            <a-icon size="large" slot="icon" type="smile" />
        </a-alert> -->

        <a-list-item slot="renderItem" slot-scope="item" key="item.title">

        <span slot="actions">
        <a-icon type="user" style="margin-right: 8px"/>
        {{item.author.nickname}}
        </span>
          <span slot="actions">
        <a-icon type="eye" style="margin-right: 8px"/>
        {{item.viewCounts}}
        </span>
          <span slot="actions">
        <a-icon type="message" style="margin-right: 8px"/>
        {{item.commentCounts}}
        </span>
          <span slot="actions">{{item.createDate}}</span>

          <img v-if="!isMobile() && item.picture"
               slot="extra"
               width="260"
               height="120"
               style="cursor:pointer"
               @click="view(item.id)"
               :src="item.picture"/>
          <a-list-item-meta
            :description="item.summary">
            <a slot="title" style="display:inline-block;width:100%" @click="view(item.id)">{{item.title}}</a>
            <!--<a-avatar slot="avatar" :src="item.avatar" />-->
          </a-list-item-meta>
          <!--{{item.content}}-->
        </a-list-item>
      </a-list>

    </div>


  </div>


</template>
<script>
  const getArticles = async ($axios, params) => {
    let {data} = await $axios.$get('/articles', {
      params: params
    })
    return data
  }
  import {mixinDevice} from '@/utils/mixin'

  export default {
    name: "value",
    head() {
      let type = ' Search'
      let value = this.$route.params.value
      if (this.$route.params.type === 'tags') {
        type = 'Tags'
        value = this.tag.tagname
      } else if(this.$route.params.type === 'archives') {
        type = 'Database'
        value = this.$route.params.value.substr(0, 4) + '年' + this.$route.params.value.substr(5) + '月'
      } else if(this.$route.params.type === 'categories') {
        type = 'Category'
        value = this.category.categoryname
      }

      return {
        title: `${value} - ${type} - For · Fun`
      }
    },
    mixins: [mixinDevice],
    validate({params}) {
      return ['tags', 'categories', 'archives', 'search'].indexOf(params.type) > -1 && params.value
    },
    data() {
      return {
        colorList: ['#1890FF', '#41D9C7', '#2FC25B', '#9AE65C', '#FACC14', '#E6965C', '#223273', '#7654CC', '#8543E0', '#5C8EE6', '#13C2C2', '#5CA3E6', '#3436C7', '#A081E6'],
        loading: false,
        more: true
      }
    },
    async asyncData({$axios, params}) {
      const page = {
        pageNumber: 1,
        pageSize: 5,
        name: 'a.createDate',
        sort: 'asc'
      }
      const requestFunc = [getArticles($axios, page)]

      switch (params.type) {
        case 'categories':
          page['categoryId'] = params.value
          requestFunc.push(
            $axios.$get(`/categorys/detail/${params.value}`)
          )
          break;
        case 'tags':
          page['tagId'] = params.value
          requestFunc.push(
            $axios.$get(`/tags/detail/${params.value}`)
          )
          break;
        case 'archives':
          page['year'] = params.value.substr(0, 4)
          page['month'] = params.value.substr(5)
          break;
        case 'search':
          page['title'] = params.value
          break;
      }

      let result = await Promise.all(requestFunc);
      const data = {
        articles: result[0],
        page
      }
      if ('tags' == params.type) {
        data['tag'] = result[1].data
      } else if ('categories' == params.type) {
        data['category'] = result[1].data
      }
      return data
    },
    methods: {
      loadMore() {
        this.page.pageNumber++
        this.loading = true

        setTimeout(() => {
          let data = getArticles(this.$axios, this.page).then(data => {
            this.more = data.length > 1
            this.articles = this.articles.concat(data)
          }).finally(() => {
            this.loading = false
          })
        }, 4000)

      },
      view(id) {
        this.$router.push(`/view/${id}`)
      }
    }
  }
</script>

<style scoped lang="less">
  .head {
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    height: 60px;
    margin: 0;
    text-align: center
  }

  .breadcrumb {
    display: inline-block;
    font-size: 16px;
    line-height: 60px
  }

  .container {
    max-width: 900px;
    margin: 0px auto;
  }

  .article-container {
    background-color: #fff;
    margin: 24px 12px;
    padding: 0 12px 12px 12px
  }


</style>
